<% include ../partials/header %>
<% include ../partials/menu %>

    <style>
        .card {
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            width: 40%;
        }
  
        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }
        
        .container {
            padding: 2px 16px;
        }

        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-width: 300px;
            margin: auto;
            text-align: center;
        }
    </style>

    <div class="container">
        <br>
        <br>
        <br>
        <br>

        <%
            var img_Src;
            var first;
            var last;
            var email;
            var id;
            if(result) {
                console.log(result)
                img_Src = result[0].profile_image;
                first = result[0].first_name;
                last = result[0].last_name;
                email = result[0].email;
                id = result[0].userid;
            }
        %>
        
        <form class="form-signin" action="profile/change" method="post">
            <h1 class="h3 mb-3 font-weight-normal">To change your profile image, paste an image url below</h1>
            <label for="img_url" class="sr-only">url</label>
            <input name="img_url" id="friendEmail" class="form-control" placeholder="img url"><br>
            <button class="btn btn-lg btn-primary" type="submit">Submit</button>
        </form>

        <div class="card" >
            <img src="<%- img_Src %>" alt="Chosen User Image" style="width:100%">
            <div class="container">
                <h4><b>Name: <%- first %> <%- last %></b></h4>
                <p>Email: <%- email %></p>
                <p>Id: <%- id %></p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>

<% include ../partials/footer %>